mixin mobile-navigation()

  nav.mobile-nav
    .header__nav
      a(href="#").header__logo
        img(src="/assets/images/logo.svg")

    ul
      li
        a(href="#") О чашах

      li
        a(href="#") Выбор размера

      li
        a(href="#") Как пользоваться

      li
        a(href="#") Часто задаваемые вопросы

      li
        a(href="#") Купить
