mixin size-cards
  .size-cards
    .size-cards__size-card
      .size-cards__wrapper
        img(src="/assets/images/img-size-1.png")

        .size-cards__box
          h5.size-cards__title Размер M
          p.size-cards__size Диаметр 44 мм, длина 70 мм
          p.size-cards__text Если вы не рожали или ваш возраст не превышает 30 лет, вам подойдут чаши маленького диаметра.

    .size-cards__size-card
      .size-cards__wrapper
        img(src="/assets/images/img-size-2.png")

        .size-cards__box
          h5.size-cards__title Размер L
          p.size-cards__size Диаметр 47 мм, длина 75 мм
          p.size-cards__text Если вы рожали, ваш возраст превышает 30 лет или у вас обильные выделения, вам подойдут чаши большого диаметра .

    .size-cards__size-card
      .size-cards__wrapper
        img(src="/assets/images/img-size-3.png")

        .size-cards__box
          h5.size-cards__title Мягкость чаши
          p.size-cards__size Средней упругости
          p.size-cards__text Обе чаши средние по упругости, хорошо раскрываются внутри и подходят для первого использования.
