mixin steps-instructions(props)
  - const { theme } = props

  -
    const classList = {
      'steps-instructions--clear': theme === 'clear'
    }

  .steps-instructions(class=classList)&attributes(attributes)
    block
