include /modules/size-selection-checkbox/size-selection-checkbox
include /modules/btn-buy/btn-buy

mixin recommendations-block
  .recommendations-block
    h4.recommendations-block__title 100% безопасно
    p.recommendations-block__text.
      Изготавливаются из 100% медицинского силикона, не содержат химикатов, не нарушает защитные механизмы.

  .recommendations-block
    h4.recommendations-block__title Уверенность в себе
    p.recommendations-block__text.
      Плавай, занимайся спортом, носи красивое белье, не беспокойся о неприятном запахе во время менструации

  .recommendations-block
    h4.recommendations-block__title Комфорт
    p.recommendations-block__text.
      Форма менструального колпачка разработана таким образом, чтобы Вам было легко и удобно пользоваться

  .recommendations-block
    h4.recommendations-block__title Экономия
    p.recommendations-block__text.
      Средний срок службы чаши - 5 лет. Ты на несколько лет освобождаешь себя от ежемесячных трат на альтернативные средства гигиены.
      Окупаемость 2–3 цикла.

  .recommendations-block.recommendations-block__buy-bowl
    .buy-bowl__box
      img(src="/assets/images/bowl.png" alt='')

      .buy-bowl__purchase
        h4.recommendations-block__title.recommendations-block__title--size купить чашу
        +size-selection-checkbox()
        a(href="#").recommendations-block__link Инструкция по выбору размера
        .recommendations-block__price 590 ₽
        +btn-buy() Купить
