include /modules/main-preview/main-preview
include /modules/main-recommendations/main-recommendations
include /modules/main-size/main-size
include /modules/main-manual/main-manual
include /modules/main-reviews/main-reviews
include /modules/main-questions/main-questions

mixin main()
  main.main
    +main-preview()
    +main-recommendations()
    +main-size()
    +main-manual()
    +main-reviews()
    +main-questions()
