include /modules/container/container
include /modules/gap/gap
include /modules/steps-instructions/steps-instructions
include /modules/form/form

mixin call-to-action
  section.call-to-action
    +container()
      .call-to-action__wrapper
        +form()

        +steps-instructions({theme: 'clear'})
          img(src="/assets/images/woman-with-cup.png" alt="")
    +gap({ size: 160 })
