.call-to-action {
  background-color: $black;

  &__wrapper {
    display: flex;
    column-gap: 130px;

    background-color: $white;
    border-radius: 24px;
    padding: 92px 209px 92px 128px;
  }

  &__title {
    @include h3;
    color: $black;
    margin-bottom: 8px;
  }

  &__text {
    @include body;
    color: $black;
    margin-bottom: 40px;
  }
}
