.main-reviews {
  background-color: $black;

  &__add-parameters {
    color: $white;
    text-align: center;
    margin-bottom: 56px;
  }

  &__reviews-wrapper {
    display: flex;
    column-gap: 40px;
    margin-bottom: 40px;
  }

  &__btn-wrapper {
    display: flex;
    justify-content: center;
    column-gap: 50px;
  }

  &__name {
    @include h5;
    color: $black;
    margin-bottom: 8px;
  }

  &__text {
    @include body;
    color: $black;
    margin-bottom: 16px;
  }
}
