extends /views/layouts/default

include /modules/header/header
include /modules/main/main

block variables
    - const title = 'Главная страница'
    - const id = 'index'

block content
  +header()
  +main()
