extends /views/layouts/default

include /modules/test/test
include  /modules/header/header

block variables
    - const title = 'Главная страница'
    - const id = 'index'

block content
  +header()

