.main-questions {
  background-color: $black;

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
  }

  &__add-parameters {
    color: $white;
  }

  &__box {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
  }
}
