// Настройка контейнера
$container-width: 0;
$container-gap: 0;
// ---

// Анимации
$transition-duration: 200ms;
$transition-timing-function: linear;
// ---

// Цвета проекта
$white: #fff;
$black: #101010;
$blue: #00A3FF;
$blue-light: #80D1FF;
$blue-light-2: #D1EFFF;
$gray-light: #E8E8E8;
$gray: #B8B8B8;
$gray-light-2: #F5F5F5;
$gray-dark: #818181;
// ---
