mixin size-selection-checkbox
  label.size-selection-checkbox
    p.size-selection-checkbox__text Выберите размер
    .size-selection-checkbox__wrapper
      button.size-selection-checkbox__btn.size-selection-checkbox__btn--m M
      button.size-selection-checkbox__btn.size-selection-checkbox__btn--l L
