.header {
  height: 100vh;
  color: white;
  background-color: black;
  padding-top: 24px;

  &__nav {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
  }

  &__list {
    display: flex;
    column-gap: 40px;
    cursor: pointer;
  }
}
