.main-preview {
  background-color: $black;

  &__title {
    @include h1;
    color: $white;
    z-index: 99;
    margin-bottom: 16px;

    & span {
      color: $blue;
    }
  }

  &__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 57px;
    height: 600px;
  }

  &__img {
    position: absolute;
    right: 0;
    top: 0;
  }

  &__text {
    margin-bottom: 56px;
    z-index: 99;
    color: $white;
  }
}
